@import '~bootstrap/scss/bootstrap';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app{
  min-width: 1250px;
}

body{
  background-color: #141414;
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }
}

.box-serie{
  margin: 30px 0;
}

.box-movie{
  margin: 30px 0;
}